body, h1, div, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 4rem;
    color: #021446;
    margin-bottom: 20px;
}

.car-image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #adade2;
    border-radius: 8px;
    background: #d7dfe7;
}

.car-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #adade2;
    border-radius: 4px;
}

.submit-btn {
    background-color: #0b264e;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #0b264e;
}

.results {
    margin-top: 20px;
}

.score-box {
    
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}
